*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}
html {
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    scroll-behavior: smooth;
}
button {
    outline: none;
}

a,
a:active,
a:link {
    text-decoration: none;
    color: white!important;
}

ul {
    list-style: none;
}
